<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - STAR TV Guide</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TVGuide.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/all.css" />
    <script src="https://kit.fontawesome.com/38a118d975.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-danger" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-star text-danger"></i> STAR TV Guide
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index" asp-route-category="1"><i class="fa-solid fa-clapperboard"></i> Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index" asp-route-category="2"><i class="fa-solid fa-tv"></i> Series</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index" asp-route-category="3"><i class="fa-solid fa-futbol"></i> Sport</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index"asp-route-category="4"><i class="fa-solid fa-atom"></i> Documentaries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index" asp-route-category="5"><i class="fa-solid fa-newspaper"></i> News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Channels" asp-action="Index" asp-route-category="9"><i class="fa-solid fa-globe"></i> International</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" ><img src="https://www.osn.com/osn/media/OSNMedia/Images/new-base/logo.svg" height="20" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Canal%2B.svg/1920px-Canal%2B.svg.png" height="20" /></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/BeIN_Sports.png" height="20" /></a>
                        </li>
                    </ul>
                </div>
                 <partial name="_LoginPartial" />
                 <form class="form-inline my-2 my-lg-0 d-sm-inline-flex justify-content-between" asp-controller="Home" asp-action="Search">
                  <input class="form-control" type="search" name="query" required minlength="4" placeholder="Search TV Series, Movies..." aria-label="Search">
                  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <i class="fa-solid fa-star"></i> STAR TV Guide - Website created by <a href="https://github.com/AchrafB94">Achraf Bouanani</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
