
@{
    ViewData["Title"] = "Category";
}

<div class="">
@foreach (var item in Model) {
   
    <figure class="figure" style="width:70px;height:70px;">
         <a asp-action="Details" asp-route-id="@item.Id">
          <img src="@item.Logo" class="figure-img img-fluid rounded" alt="@item.Name">
         </a>
    </figure>
}</div>
