@model IEnumerable<TVGuide.Models.Channel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Channels";
}
<h1>@localizer["Title_"+ViewBag.Header]</h1>
   <section class="logo-list">
        <div class="container">
            <div class="row">
@foreach (var item in Model) {
    <div class="col-lg-1 col-md-2 col-3">
        <a asp-action="Details" asp-route-id="@item.Id"><img src="@item.Logo" class="img-fluid" alt="@item.Name"></a>
    </div>
}
            </div>
        </div>
    </section>
  @await Component.InvokeAsync("Now", new {IdCategory = ViewBag.IdCategory})